{% extends 'base.html' %}
{% block title %}Our Commitments{% endblock %}
{% block content %}
<main>
	<div class="content container commitments">
		<div class="row">
		<div class="col s12 cover">
			<img src="{{ page.cover.url }}" class="responsive-img">
		</div>
		</div>
		<div class="row">
		<div class="col s12">
			<h6>RAPID DELIVERY</h6>

			<p>Ma Belle Epoque delivers to the all countries with few exceptions within two weeks and China within one week with free delivery in Shanghai.</p>

			<h6>QUALITY PACKAGING</h6>

			Each order is packed in an branded hand-craft parcel bearing our Ma Belle Epoque logo and prepared with the greatest of care.

			<h6>RETURNS</h6>

			<p>You have the opportunity to return any product ordered on the Ma Belle Epoque website within fourteen days following the day your products were received.Return charges are to be paid by the customer.</p>

			<h6>WISH LIST</h6>

			<p>mabelleepoque.com is the perfect place to buy someone a present. It has a Wish List section where you can see what your friends “wished” they had and surprise them with it when time has arrived. It is very easy to do, just select a product and enter the person's address as the delivery address .A  personalised message can also be attached to the package if you wish. Of course, the package will be carefully wrapped with our usual high standards.</p>


			<h6>SECURE PAYMENT</h6>

			<p>Ma Belle Epoque operates with WeChat Wallet and Alipay so as to ensure maximum security in the course of transactions via the website. If convenient to you, we can also accept cash on delivery</p>
		</div>
		</div>
	</div>
</main>
{% endblock %}