{% extends 'base.html' %}
{% block title %}Our Commitments{% endblock %}
{% block content %}
<main>
	<div class="content container conditions">
		<div class="row">
		<div class="col s12 cover">
			<img src="{{ page.cover.url }}" class="responsive-img">
		</div>
		</div>
		<div class="row">
		<div class="col s12">
<h6>MAKING A PURCHASE</h6>

<p>1. Our website displays information on the main characteristics of each product and the relevant unit price, the type of payment that you may use in order to purchase each product, shipping and delivery costs, the terms and conditions for the return of purchased products and, finally, the methods and time periods for returning the products purchased.</p>
<p>2. After your order form has been submitted, Ma Belle Epoque will process your order.</p>
<p>3. If unfortunately the products displayed on <a href="/">www.mabelleepoque.com</a> are no longer available at the time of your last login to our online store, Ma Belle Epoque shall inform you within five working days. If the order form has been sent and the price has been paid for items that are no longer available, Ma Belle Epoque will refund you the sum paid.</p>



<h6>DELIVERIES</h6>
<p>Details of delivery charges below. Orders are sent using one of our preferred shipping partners and tracking information is available</p>
<ul>
<li>· UK mainland - £6 | 1- 3 days</li>
<li>· Europe - £10 | 3 - 4 days</li>
<li>· Rest of world - £15 | 7 days</li>
</ul>



<h6>SHIPPING & RETURNS</h6>

<p>1. You have the opportunity to return any product ordered at Ma Belle Epoque within fourteen days following the day your products were received in its original packaging. Return charges are to be paid by the customer.</p>
<p>2. The refund will be made in the same way that the product was originally purchased.</p>
<p>3. Ma Belle Epoque will not accept returned products that are returned without their original packaging or that have been altered from their original status or damaged.</p>

<h6>WISH LIST</h6>

<p><a href="/">www.mabelleepoque.com</a> is the perfect place to buy someone a present. It has a Wish List section where you can see what your friends “wished for" and surprise them with it when preparing their new born’s trousseau.</p>
<p>It is very easy to do, select a product and enter the person's address as the delivery address on our online store. A personalised message can also be attached to the package if you wish. Of course, the package will be carefully wrapped with our usual high standards.</p>

<h6>SECURE PAYMENT</h6>

<p>Ma Belle Epoque website operates with Visa and Paypal so as to ensure maximum security in the course of transactions via the websites.</p>

<h6>PRIVACY</h6>
<p>1. You can use mabelleepoque.com site without giving out any personal information. However, when you create an account on <a href="/"><a href="/">www.mabelleepoque.com</a></a> we will collect the necessary information relative to the invoicing and shipping of your order.</p>
<p>2. You can also share on <a href="/">www.mabelleepoque.com</a> your friends’ emails address for us to reach out to them and “make your wish come true” when your little one comes to the world.</p>
<p>3. <a href="/">www.mabelleepoque.com</a> website will only share your personal information when it is necessary for the processing of your order: bank, courier partner etc. mabelleepoque.com will use this information when it is necessary to identify you but under no other circumstances Ma Belle Epoque will use your information for other purposes.</p>


		</div>
		</div>
	</div>
</main>
{% endblock %}