{% extends 'base.html' %}
{% block title %}Our Commitments{% endblock %}
{% block content %}
<main>
	<div class="content container conditions">
		<div class="row">
		<div class="col s12 cover">
			<img src="{{ page.cover.url }}" class="responsive-img">
		</div>
		</div>
		<div class="row">
		<div class="col s12">
<h6>MAKING A PURCHASE</h6>

<p>1. The website showcases information on the main characteristics of each product and the relevant unit price, the type of payment that you may use in order to purchase each product, shipping and delivery costs, the terms and conditions for the return of purchased products and, finally, the methods and time periods for returning the products purchased.</p>

<p>2. After your order form has been submitted, Ma Belle Epoque will process your order.</p>

<p>3. If unfortunately the products displayed on mabelleepoque.com are no longer available at the time of your last login to the website, Ma Belle Epoque shall inform you within five working days. If the order form has been sent and the price has been paid for items that are no longer available, Ma Belle Epoque will refund you the sum paid.</p>




<h6>GUARANTEE</h6>
<p>1. Ma Belle Epoque sells exclusively luxury and top-quality products. These products are directly designed and produced by Ma Belle Epoque, carefully selecting materials by stringent quality controls.</p>

<p>2. Ma Belle Epoque does not sell second-hand products, flawed products or products of lower quality as compared to the corresponding standards offered on the market.</p>

<p>3. The main characteristics of the products are shown on mabelleepoque.com inside each product description. The products offered for sale on mabelleepoque.com may not exactly correspond to the real garments in terms of image and colours because of the Internet browser or the monitor used.</p>

<p>4. Prices of products are subject to change. Check the final price of sale before sending the relevant order form.</p>


<h6>PAYMENTS</h6>
1. Payment of products and relevant shipping costs can be made by using either cash, transfer, WeChat and Alipay.


<h6>DELIVERIES</h6>

<p>1. Details of delivery charges below. Orders are sent using one of our preferred shipping partners and tracking information is available.</p>
<ul>
<li>· China Mainland - 10RMB</li>
<li>· Greater China - 80RMB</li>
<li>· Shanghai - free</li>
<li>· Europe - 100RMB</li>
<li>· Rest of world - 150RMB</li>
</ul>

2.  Ma Belle Epoque delivers to the all countries with few exceptions within two weeks and China within one week.

<h6>RIGHT OF RETURN</h6>
<p>1. You have the right to return products purchased from mabelleepoque.com , without any penalty and without specifying the reason, within fourteen days after the date of the receipt of the products purchased on mabelleepoque.com</p>

<p>2. Return charges are to be paid by the customer.</p>


<h6>PRIVACY</h6>
<p>1. You can use mabelleepoque.com site without giving out any personal information. However, when you create an account on mabelleepoque.com  we will collect the necessary information relative to the invoicing and shipping of your order</p>

<p>2. mabelleepoque.com website will only share your personal information when it is necessary for the processing of your order: bank, courier partner etc.
mabelleepoque.com will use this information when it is necessary to identify you but under no other circumstances Ma Belle Epoque will use your information for other purposes.</p>
		</div>
		</div>
	</div>
</main>
{% endblock %}