<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="MBE & Jaz">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/mbe/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/vegas/vegas.min.css">
	<title>index</title>
</head>
<body>
<div id="wrap">
<header>
	<div class="navbar">
		<ul class="nav-left">
			<li><a href="#">MBE</a></li>
			<li><a href="#">NEW BORN</a></li>
			<li><a href="#">GIRL</a></li>
		</ul>
		<a href="#" class="logo"><img src="static/mbe/images/logo.png"/ width="100px"></a>
		<ul class="nav-right">
			<li><a href="#">BOY</a></li>
			<li><a href="#">ACCESSORIES</a></li>
			<li><a href="#">MAKE A WISH</a></li>
		</ul>
	</div>
</header>
<main>
	<div class="content container contact">
		<div class="col s8 offset-l2 cover">
			<img src="static/mbe/images/bg4.jpg" class="responsive-img">
		</div>
		<h3 class="center-align text">CONTACT US</h3>
		  <div class="row">
		    <form class="col s8 offset-l2">
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="first_name" type="text" class="validate">
		          <label for="first_name">Subject</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
				<div class="row">
				<div class="input-field col s12">
				  <textarea id="textarea1" class="materialize-textarea"></textarea>
				  <label for="textarea1">Content</label>
				</div>
				</div>
				<div class="row">
				<div class="btn-group col s12">
					<a class="btn-large btn">SUBMIT</a>
				</div>
				</div>
		    </form>
		  </div
	</div>
</main>
</div>
<footer>
	<ul>
		<li><a href="lookbook.html" class="white-text">MBE</a></li>
		<li><a href="contact.html" class="white-text">CONTACT</a></li>
		<li><a href="#" class="black-text">OUR COMMITMENTS</a></li>
		<li><a href="#" class="black-text">GERNERAL CONDITIONS</a></li>
	</ul>
</footer>
</body>
<script text = "text/javascript" src="static/mbe/js/jquery.min.js"></script>
<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
 	$(".wish>img").mouseover(function(){
 		$(".text").html($(this).attr("data"));
 	});
</script>