{% extends 'base.html' %}
{% block title %}Contact Us!{% endblock %}
{% block content %}
<main>
	<div class="content container contact">
		<div class="col s8 offset-l2 cover">
			<img src="{{ page.cover.url }}" class="responsive-img">
		</div>
		<h3 class="center-align text">CONTACT US</h3>
		  <div class="row">
		    <form class="col s8 offset-l2" method = "POST" action = "/contact/">
		    {% csrf_token %}
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="id_subject" name = 'subject' type="text" class="validate">
		          <label for="id_subject">Subject</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		          <input id="id_email" type="email" name = 'email' class="validate">
		          <label for="id_email">Email</label>
		        </div>
		      </div>
				<div class="row">
				<div class="input-field col s12">
				  <textarea id="id_textarea1" name = 'content' class="materialize-textarea"></textarea>
				  <label for="id_textarea1">Content</label>
				</div>
				</div>
		      <div class="row right">
			      	<input type = "submit" id = "submit" class="btn btn-large btn-reverse right" value ="submit" />
		      </div>
		    </form>
		  </div
	</div>
</main>
</div>
{% endblock %}
