<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="MBE & Jaz">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/mbe/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/vegas/vegas.min.css">
	<title>index</title>
</head>
<body>
<div id = "wrap">
<header>
	<div class="topbar">
		<div class="company">
			MA BELLE EPOQUE
		</div>
		<a href="#" class="logo">
			
		</a>
		<div class="top-btn">			
		 	<a href="#">LOOKBOOK</a>
			<a href="#">WISHLIST</a>
		</div>
	</div>
</header>
<main>
	<div class="index container">
		<h1 class="main_title">
			FALL WINTER COLLECTION
		</h1>
		<a href="#" class="btn-large btn">Discover</a>
	</div>
</main>
</div>
<footer id="footer-index">
	<ul>
		<li><a href="#" class="white-text">MBE</a></li>
		<li><a href="#" class="white-text">CONTACT</a></li>
		<li><a href="#" class="white-text">OUR COMMITMENTS</a></li>
		<li><a href="#" class="white-text">GERNERAL CONDITIONS</a></li>
	</ul>
</footer>
</body>
<script text = "text/javascript" src="static/mbe/js/jquery.min.js"></script>
<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
<script src="static/vegas/vegas.min.js"></script>
<script type="text/javascript">
	$("body").vegas({
    slides: [
        { src: "static/mbe/images/bg1.jpg" },
    ]
});
</script>