<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="MBE & Jaz">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/mbe/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/vegas/vegas.min.css">
	<title>index</title>
</head>
<body>
<div id = "wrap">
<header>
	<div class="topbar">
		<ul>
		<li><a href="/account/profile/" class="white-text">MY ACCOUNT</a></li>
		{% if request.user.is_authenticated %}
		<li><a>|</a></li>
		<li><a href="/account/logout/" class="white-text">LOGOUT</a>
		{% endif %}
		</ul>
	</div>
	<div class="navbar container ">
		<a href="index.html" class="logo"><img src="static/mbe/images/logo-white.png" class="responsive-img" width="150px;"></a>
	</div>
</header>
<main>
	<div class="index container">
		<h2 class="main_title">
			FALL WINTER COLLECTION
		</h2>
		<a href="/collection/" class="btn-large btn">Discover</a>
	</div>
</main>
</div>
<footer id="footer-index">
	<ul>
		<li><a href="contact.html" class="white-text">CONTACT</a></li>
		<li><a href="#" class="white-text">OUR COMMITMENTS</a></li>
		<li><a href="#" class="white-text">GERNERAL CONDITIONS</a></li>
	</ul>
</footer>
</body>
<script text = "text/javascript" src="static/mbe/js/jquery.min.js"></script>
<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
<script src="static/vegas/vegas.min.js"></script>
<script type="text/javascript">
	$("body").vegas({
    slides: [
        { src: "{{ c.background.url }}" },
    ]
});
</script>