{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
	<div class="content container login">
		<div class="row">
			<div class="col s3 offset-l1">
				<img src="/static/mbe/images/flower-big.png" class="responsive-img">
			</div>
			<div class="col s6 offset-l1" >
			   <form class="col s12" style="margin-top:100px;" method="POST" action = "/account/login/">
			   {% csrf_token %}
			   	  {% if error %}
			   	  <div class="row error">
			   	  	{{ error }}
			   	  </div>
			   	  {% endif %}
			      <div class="row">
			        <div class="input-field col s12">
			          <div class="label" >Username</div>
			          <input id="id_username" type="text" class="validate" name = "username">
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <div class="label" >Password</div> 
			          <input id="id_password" type="password" class="validate" name = "password">
			        </div>
			      </div>
			      <div class="row panel">
			      	<a class="new left" href="/account/register/">Create A New Account</a>
			      	<input type = "submit" id = "submit" class="btn btn-large btn-reverse right" value ="submit"></>
			      </div>
			    </form>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$("#submit").click(function(){
		$("form").submit();
	});
</script>
{% endblock %}
