<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="MBE & Jaz">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/mbe/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/vegas/vegas.min.css">
	<title>index</title>
</head>
<body>
<div id="wrap">
<header>
	<div class="navbar container ">
		<ul class="nav-left">
			<li><a href="lookbook.html">MBE</a></li>
			<li><a href="lookbook.html">NEW BORN</a></li>
			<li><a href="product.html">GIRL</a></li>
		</ul>
		<a href="#" class="logo"><img src="static/mbe/images/logo.png"/ width="100px"></a>
		<ul class="nav-right">
			<li><a href="product.html">BOY</a></li>
			<li><a href="product.html">ACCESSORIES</a></li>
			<li><a href="wishlist.html">MAKE A WISH</a></li>
		</ul>
	</div>
	<div class="sub-nav container">
		<ul>
			<li><a href="product.html">Trousers</a></li>
			<li><a href="product.html">Coats</a></li>
			<li><a href="product.html">Jackets</a></li>
			<li><a href="product.html">Jumpers</a></li>
			<li><a href="product.html">Shirts</a></li>
			<li><a href="product.html">Twin Sets</a></li>
			<li><a href="product.html">Accessories</a></li>
			<li><a href="product.html">Rampers</a></li>
		</ul>
	</div>
</header>
<main>
	<div class="content container lookbook">
		<div class="cover">
			<h1>FAll WINTER 2015</h1>
			<img src="static/mbe/images/cover.jpg" class="responsive-img">
		</div>
		<div class="row">
			<div class="col s6 col-left">
				<div class="col-text">
					<h3>The Collection</h3>
					<p>As Eye Heart World grows, so do the opportunities to get involved and make a difference in the fight against Human Trafficking. Each of our internship opportunities empowers the individual to become an integral part of our operations, while allowing space for the experience to be tailored to the individual's passions and specific interests, ranging from fashion design, to youth education, to design and media.</p>
				</div>
				<figure class="col-image">
					<img src="static/mbe/images/lookbook5.jpg" class="responsive-img" />
				</figure>
				<figure class="col-image">
					<img src="static/mbe/images/lookbook1.jpg" class="responsive-img" />
				</figure>
			</div>
			<div class="col s6 col-right">
				<figure class="col-image">
					<img src="static/mbe/images/lookbook6.jpg" class="responsive-img" />
				</figure>
				<div class="col-text">
					<h3>The Collection</h3>
					<p>As Eye Heart World grows, so do the opportunities to get involved and make a difference in the fight against Human Trafficking. Each of our internship opportunities empowers the individual to become an integral part of our operations, while allowing space for the experience to be tailored to the individual's passions and specific interests, ranging from fashion design, to youth education, to design and media.</p>
				</div>
				<figure class="col-image">
					<img src="static/mbe/images/lookbook7.jpg" class="responsive-img" />
				</figure>
			</div>
		</div>
	</div>
</main>
</div>
<footer>
	<ul>
		<li><a href="lookbook.html" class="black-text">MBE</a></li>
		<li><a href="contact.html" class="black-text">CONTACT</a></li>
		<li><a href="#" class="black-text">OUR COMMITMENTS</a></li>
		<li><a href="#" class="black-text">GERNERAL CONDITIONS</a></li>
	</ul>
</footer>
</body>
<script text = "text/javascript" src="static/mbe/js/jquery.min.js"></script>
<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
</script>