<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="MBE & Jaz">
	<meta name="description" content = "">
	<link rel="stylesheet" type="text/css" href="static/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/mbe/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/vegas/vegas.min.css">
	<title>index</title>
</head>
<body>
<div id="wrap">
<header>
	<div class="navbar container ">
		<ul class="nav-left">
			<li><a href="lookbook.html">MBE</a></li>
			<li><a href="lookbook.html">NEW BORN</a></li>
			<li><a href="product.html">GIRL</a></li>
		</ul>
		<a href="#" class="logo"><img src="static/mbe/images/logo.png"/ width="100px"></a>
		<ul class="nav-right">
			<li><a href="product.html">BOY</a></li>
			<li><a href="product.html">ACCESSORIES</a></li>
			<li><a href="wishlist.html">MAKE A WISH</a></li>
		</ul>
	</div>
	<div class="sub-nav container">
		<ul>
			<li><a href="product.html">Trousers</a></li>
			<li><a href="product.html">Coats</a></li>
			<li><a href="product.html">Jackets</a></li>
			<li><a href="product.html">Jumpers</a></li>
			<li><a href="product.html">Shirts</a></li>
			<li><a href="product.html">Twin Sets</a></li>
			<li><a href="product.html">Accessories</a></li>
			<li><a href="product.html">Rampers</a></li>
		</ul>
	</div>
</header>
<main>
	<div class="content container product">
		<div class="row">
			<div class="col s6 p">
				<div class="cover">
					<img src="static/mbe/images/lookbook7.jpg" class="responsive-img" data="static/mbe/images/lookbook6.jpg">
				</div>
				<div class="panel row">
					<h6 class="col s6 label">
						Product 1
					</h6>
					<h6 class="col s2 label">
						¥199
					</h6>					
					<div class="col s4 btn-group">
						<a class="fa fa-heart fa-2x col s6 modal-trigger" href="#modal1"></a>
						<a href="#" class="fa fa-shopping-cart fa-2x col s6"></a>
					</div>
				</div>
			</div>
			<div class="col s6 p">
				<div class="cover">
					<img src="static/mbe/images/lookbook7.jpg" class="responsive-img" data="static/mbe/images/lookbook6.jpg">
				</div>
				<div class="panel row">
					<h6 class="col s6 label">
						Product 1
					</h6>
					<h6 class="col s2 label">
						¥199
					</h6>
					<div class="col s4 btn-group">
						<a href="#modal1" class="fa fa-heart fa-2x col s6 modal-trigger" ></a>
						<a href="#" class="fa fa-shopping-cart fa-2x col s6"></a>
					</div>
				</div>
			</div>
			<div class="col s6 p">
				<div class="cover">
					<img src="static/mbe/images/lookbook7.jpg" class="responsive-img" data="static/mbe/images/lookbook6.jpg">
				</div>
				<div class="panel row">
					<h6 class="col s6 label">
						Product 1
					</h6>
					<h6 class="col s2 label">
						¥199
					</h6>					
					<div class="col s4 btn-group">
						<a href="#modal1" class="fa fa-heart fa-2x col s6 modal-trigger" ></a>
						<a href="#" class="fa fa-shopping-cart fa-2x col s6"></a>
					</div>
				</div>
			</div>
			<div class="col s6 p">
				<div class="cover">
					<img src="static/mbe/images/lookbook7.jpg" class="responsive-img" data="static/mbe/images/lookbook6.jpg">
				</div>
				<div class="panel row">
					<h6 class="col s6 label">
						Product 1
					</h6>
					<h6 class="col s2 label">
						¥199
					</h6>
					<div class="col s4 btn-group">
						<a href="#modal1" class="fa fa-heart fa-2x col s6 modal-trigger" ></a>
						<a href="#" class="fa fa-shopping-cart fa-2x col s6"></a>
					</div>
				</div>
			</div>
			  <div id="modal1" class="modal">
			    <div class="modal-content">
			    	<div class="row">
			    		<h4 class="col s12 align-center">Will you make a wish?</h4>
			    		<form class="col s12">
			    			<div class="row">
			    				<div class="input-field col s12">
			    					<input id = "pid" type ="hidden" class="validate">
			    				</div>
			    				<div class="input-field col s12">
			    					<input id = "wish" type ="text" class="validate" placeholder = "What you want?">
			    				</div>
			    				<div class="input-field col s4 offset-l8">
			    					<input id = "name" type ="text" class="validate" placeholder = "Who are you?">
			    				</div>
			    			</div>
			    		</form>
			    	</div>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">SUBMIT</a>
			    </div>
			  </div>
		</div>
	</div>

</main>
</div>
<footer>
	<ul>
		<li><a href="lookbook.html" class="white-text">MBE</a></li>
		<li><a href="contact.html" class="white-text">CONTACT</a></li>
		<li><a href="#" class="black-text">OUR COMMITMENTS</a></li>
		<li><a href="#" class="black-text">GERNERAL CONDITIONS</a></li>
	</ul>
</footer>
</body>
<script text = "text/javascript" src="static/mbe/js/jquery.min.js"></script>
<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
	$(".eye").mouseover(function(){
		$(this).parents("div.p").find("div.overlay").fadeIn(300);
	}).mouseleave(function(){
		$(this).parents("div.p").find("div.overlay").fadeOut(300);		
	});
	$(".cover").mouseover(function(){
		var src = $(this).find("img").attr("src");
		var data = $(this).find("img").attr("data");
		$(this).find("img").attr("src",data);
		$(this).find("img").attr("data",src);
	}).mouseleave(function(){
		var src = $(this).find("img").attr("src");
		var data = $(this).find("img").attr("data");
		$(this).find("img").attr("src",data);
		$(this).find("img").attr("data",src);		
	});
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });</script>