{% extends "base.html" %}
{% block title %}
{{ category.name }}
{% if subcategory %}
|{{ subcategory.name }}
{% endif %}
{% endblock %}
{% block subnav %}
	<div class="sub-nav">
		<ul>
			{% for c in category.subs.all %}
			<li><a href="/p/{{ category.slug }}/{{ c.slug }}/">{{ c.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
{% block content %}
	<div class="content container product">
		<div class="row">
			<div class="col s12 cover">
				<img src="{{ category.cover.url }}" class="responsive-img">
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="cate">
					<h3>{{ category.page_title }}</h3>
					<p>{{ category.description|linebreaksbr }}</p>
				</div>
			</div>
			<div class="col s6">
				<img src = "{{ category.image.url }}" class="responsive-img">
			</div>
			{% for p in products %}
			<div class="col s6 p">
				<div class="cover">
					<img src="{{ p.image1.url }}" class="responsive-img" data="{{ p.image2.url }}">
				</div>
				<div class='row'>
				<div class="panel col s11">
					{% if p.wishes.all.count != 0 %}
					<div class="col s12 tip">
						{% if request.user.is_authenticated and request.user in users %}
						Wished by you and&nbsp;<a href="/wish/">{{ p.wishes.all.count }}</a> &nbsp;friends 
						{% else %}
						Wished by &nbsp;<a href="/wish/">{{ p.wishes.all.count }}</a> &nbsp;friends
						{% endif %}
					</div>
					{% else %}
					<div class="col s12 tip">
					    Click on the flower to make your wish come true
					</div>
					{% endif %}
					<div class="col s12 text">
						<span class="col s12 ">
							<b>{{ p.name }}</b>
						</span>
						<span class="col s12 ">
						{{ p.short_description }}
						</span>
						<span class="col s12 ">
							¥{{ p.price }}
						</span>
					</div>
				</div>
				<div class="col s1 like">
				{% if request.user.is_authenticated and request.user in p.get_wished_users %}
					<a href="/wish/remove/?pid={{ p.id }}&next={{ request.get_full_path }}" class="valign-wrapper"><img src="/static/mbe/images/flower.png" class="responsive-img"  /></a>						
				{% else %}
					<a href="/wish/add/?pid={{ p.id }}&next={{ request.get_full_path }}" class="valign-wrapper"><img src="/static/mbe/images/flower.png" class="responsive-img"  /></a>
				{% endif %}
				</div>	
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(".cover").mouseover(function(){
		var src = $(this).find("img").attr("src");
		var data = $(this).find("img").attr("data");
		$(this).find("img").attr("src",data);
		$(this).find("img").attr("data",src);
	}).mouseleave(function(){
		var src = $(this).find("img").attr("src");
		var data = $(this).find("img").attr("data");
		$(this).find("img").attr("src",data);
		$(this).find("img").attr("data",src);		
	});
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.like').click(function(){
    	$(this).parents('.p').children('.tip').children('span').text('You');
    });
  });</script>
  {% endblock %}