{% extends 'base.html' %}
{% block title %}Create a new user{% endblock %}
{% block content %}
	<div class="content container register">
		<div class="row">
			<div class="col s5">
				<img src="/static/mbe/images/flower-big.png" class="responsive-img">
			</div>
			<div class="col s6 offset-l1">
			<h3 class="text">JOIN US!</h3>
			   <form class="col s12" id ="multipart" action = "/account/register/" enctype="multipart/form-data" method="POST">
			      {% csrf_token %}
			      <div class="row">
			        <div class="input-field col s12">
			          <div class="label">USERNAME</div>
			          <input id="id_username" name = "username" type="text" class="validate">
			        </div>
			        	{{ user_form.username.errors }}
			        
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        <div class="label">PASSWORD</div>
			          <input id="id_password" name = "password" type="password" class="validate">         
			        </div>
			         {{ user_form.password.errors }}
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        <div class="label">E-MAIL</div>
			          <input id="id_email" type="email" name = "email" class="validate">
			        </div>
			        {{ user_form.email.errors }}
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        <div class="label">KIDSNAME</div>
			          <input id="id_kidsname" type="text" name = "kidsname" class="validate">
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        <div class="label">FRIEND'S E-MAIL</div>
			          <input id="id_email1" type="email" name = "email1" class="validate" placeholder = 'Let your friends make your wish come true'>
			        </div>
			        {{ member_form.email1.errors }}
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        <div class="label">ADDRESS</div>
			          <textarea id="id_address" name = "address" class="materialize-textarea"></textarea>
			        </div>
			      </div>
			      <div class="row right">
			      	<a href="#!" class="btn btn-large btn-reverse" id = "submit">SUBMIT</a>
			      </div>
			    </form>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$("#submit").click(function(){
		$("form").submit();
	});
</script>
{% endblock %}