{% extends "base.html" %}
{% block title %}Wish Wall{% endblock %}
{% block css %}
  <style>
    /**
     * Grid items
     */
    .tiles-wrap{
    	position: relative;
    	margin: 10px 0px;
    }
    .tiles-wrap>li {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
    }
    .tiles-wrap li img {
      width: 100%;
      height: auto;
    }
  </style>
{% endblock %}
{% block content %}
<main>
	<div class="content container wishlist">
    <h3>Make A Wish</h3>
    <div class="row">
      <div class="col s6 cover">
        <img src="{{ page.cover.url }}" class="responsive-img">
      </div>
      <div class="col s6 text">     
At Ma Belle Epoque, we really cherish our customer's opinion and we would love to know what outfits you preferred most.
If you are to have a baby and don't want to be too specific about what your birth list will look like, make a wish on our website and we will invite your friends to our website to have a quick look at it and delight you with the best gifts for your newborn!
Let us take take care of the rest.
      </div>
    </div>
    <div class="row">
			<ul  class="tiles-wrap">
				{% for p in products %}
		        <li class="tile">
		        	{% if p.wishes.all %}
		        	<a><img class="hoverable" src="{{ p.image1.url }}"></a>
	        		<ul>
	        			<li><i class="fa fa-heart"></i></li>
	        			{% for w in p.wishes.all %}
	        			{% if forloop.last %}
	        			<li>{{ w.user.username }}</li>
	        			{% else %}
	        			<li>{{ w.user.username }},&nbsp;</li>
	        			{% endif %}
	        			{% endfor %}
	        		</ul>
	        		{% endif %}
		        </li>
		        {% endfor %}
			</ul>
      </div>
</main>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/mbe/js/jquery.wookmark.min.js"></script>
<script type="text/javascript" src="/static/mbe/js/jquery.imagesloaded.js"></script>
  <script type="text/javascript">
    (function() {
      function getWindowWidth() {
        return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
      }
      // Instantiate wookmark after all images have been loaded
      var wookmark;
      imagesLoaded('.tiles-wrap', function() {
        wookmark = new Wookmark('.tiles-wrap', {
          itemWidth: 300, // Optional min width of a grid item
          outerOffset: 20, // Optional the distance from grid to parent
          flexibleWidth: function () {
            // Return a maximum width depending on the viewport
            return getWindowWidth() < 1024 ? '100%' : '50%';
          }
        });
      });
    })();
  </script>
{% endblock %}