/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(../../font/goudy.ttf) format('truetype');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  font-weight: 400;
  src: local('Sorts Mill Goudy Italic'), local('SortsMillGoudy-Italic'), url(../../font/goudy-italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 300;
  src: local('Kalam Light'), local('Kalam-Light'), url(../../font/kalam-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(../../font/kalam-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local('Kalam Bold'), local('Kalam-Bold'), url(../../font/kalam-bold.ttf) format('truetype');
}

/*------------Reset-----------*/
*{
	outline: none!important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	font-family:"Sorts Mill Goudy","Roboto","Simhei";
	font-weight: 300;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000;
    box-shadow: none;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #000;
}

input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50
}

/*----------Global Setting-----------*/
h1, h2, h3, h4, h5, h6{
	font-family: "Sorts Mill Goudy","Helvitica-Neue","SimHei";
	font-weight: normal;
}

h1{
	font-size: 48px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 26px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 18px;
}
a{
	-o-transition:color .3s ease-out, background .3s ease-in;
	-ms-transition:color .3s ease-out, background .3s ease-in;
	-moz-transition:color .3s ease-out, background .3s ease-in;
	-webkit-transition:color .3s ease-out, background .3s ease-in;
  /* ...and now override with proper CSS property */
	transition:color .3s ease-out, background .3s ease-in;
	display: block;
	text-decoration: none;
	letter-spacing: 1px;
}
a:hover{
	text-decoration: none;
	color:#000;
}
p,span,b,blockquote{
	line-height: 26px;
	font-weight: 300;
}
b{
	font-weight: 700;
}
.row{
	margin-left: 0!important;
	margin-right: 0!important;
}
/*----------Header-----------*/
.topbar{
	color: #fff;
	height: 64px;
	width: 100%;
	padding:0;
	margin: 0;
}
.topbar>ul{
	position: relative;
}
.topbar>ul>li{
	display: inline-block;
	padding: 0px 10px;
}
.topbar>ul>li:last-child{
	padding-right: 32px;
	vertical-align: middle;
}
.topbar>ul>li>a{
	display: block;
	height: 64px;
	text-align: center;
	line-height: 64px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.topbar>ul>li>a:hover{
	text-decoration: underline;
}
.topbar>ul{
	height: 64px;
	text-align: right;
}
.navbar{
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
}
.navbar>ul{
	display: inline-block;
	padding-left: 0;
	width: 380px;
}
.navbar>ul>li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 32px;
	vertical-align: middle;
}
.navbar>ul>li>a{
	display: block;
	padding: 0 2px 6px;
	font-family: "Sorts Mill Goudy","Helvitica-Neue","SimHei";
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000;
	font-size: 14px;
}
.navbar>ul>li>a:hover{
	color:#E2BF00;
}
.navbar> .nav-left{
	text-align: right;
	margin-right: 32px;
}
.navbar> .nav-left>li{
	padding-left: 32px;
}
.navbar> .nav-right{
	text-align: left;
	margin-left: 32px;
}
.navbar>.logo{
	display: inline-block;
	position: relative;
}
.sub-nav{
	margin:0 auto;
	text-align: center;
	height: 32px;
}
.sub-nav>ul{
	display: inline-block;
}
.sub-nav>ul>li{
	display: inline-block;
}
.sub-nav>ul>li>a{
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	padding: 0 15px;
	font-style: italic;
	color: #333;
}
.sub-nav>ul>li>a:hover{
	text-decoration: underline;
}
/*----------content-----------*/
#wrap{
	min-height: 90%;
	position: relative;
}
.index{
	width: 75%;
	margin:0 auto;
	padding: 0;
	margin-top: 64px;
	text-align: center;
}
.index > .main_title{
	color: #fff;
	margin-bottom: 64px;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: bold;
}
.content{
	margin-top: 36px;
}
.btn{
	background-color: transparent;
	color: #fff;
	border:1px solid #fff;
	text-transform: capitalize;
}
.btn:hover{
	background-color: #E2BF00;
}
.btn-reverse{
	background-color: #333;
	color: #fff;
}
.btn-reverse:hover{
	background-color: #E2BF00;
	color:#fff;
}

}
/*----------footer-index-----------*/
footer>ul>li>a{
	font-size: 13px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

footer{
	width: 100%;
	height: 10%;
	border-top:1px solid #333;
	margin: 0;
	padding: 0;
}
footer>ul{
	width: 75%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}
footer>ul>li{
	display: inline-block;
	height: 100%;}
footer>ul>li>a{
	font-size: 13px;
	padding: 20px 25px;
	height: 100%;
	text-align: center;
	color: #000;
}
footer>ul>li>a:hover{
	text-decoration: underline;
}
#footer-index{
	border-top:none;
}

#footer-index>ul>li>a{
	color: #fff;
}
/*----------Lookbook-----------*/
.lookbook > .cover >h2{
	margin-top:32px;
	margin-bottom: 32px;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 2px;
	font-style: italic;
}
.lookbook .col-text, .lookbook .col-image{
	margin-top: 20px;
}
.lookbook .col-text{
	overflow: hidden;
	padding: 30px 30px 0 30px;
	text-align: justify;
	text-align-last:justify;
	-moz-text-align-last:justify;
}
.lookbook .col-text:after{
	display: inline-block;
	content: '';
	overflow: hidden;
	width: 100%;
	height: 0;
}
.lookbook .col-left .col-image{
	text-align: right;
}
.lookbook .col-right .col-image{
	text-align: left;
}
/*----------product-----------*/
.product col:first-child{
	height: 100%;
}
.product .cate{
	margin-top: 160px;
}
.product .cate>h3{
	font-style: italic;
	margin-bottom: 32px;
}
.product .cate>p{
	position: relative;
	padding-right:30px;
	text-align: justify;
	text-align-last:justify;
	-moz-text-align-last:justify;
}
.product .cate>p:after{
	display: inline-block;
	content: '';
	overflow: hidden;
	width: 100%;
	height: 0;	
}
.product .panel{
	min-height: 64px;

}
.product .panel>.text>span{
	text-align: center;
}
.product  .like{
	min-height: 64px;
	padding-left: 10px;
}
.product .tip{
	color: #333;
}
.product .tip>a{
	display: inline;
	color: #E2BF00;
}
.product .tip>a:hover{
	color:#333;
	text-decoration: underline;
}
.product .cover{
	position: relative;
	margin-top: 20px;
}
.product .title{
	position: absolute;
	bottom: 0px;
	left: 20px;
	color:#fff;
}
/*----------wishlist-----------*/
.tiles ul{
	position: relative;
}

.tiles-wrap ul{
	padding: 10px 5px 20px 10px;
}

.tiles-wrap ul li{
	display: inline-block;
}
.tiles-wrap ul li:first-child{
	padding-right: 10px;
}
/*----------contact-----------*/
.contact>.cover{
	margin-top: 64px;
	margin-bottom: 64px;
}
.contact>h3{
	margin-bottom: 64px;
}
.contact form .btn-group{
	text-align: right;
}
.contact form .btn{
	color:#fff;
	background-color: #333;
}
.contact form .btn:hover{
	color:#fff;
	background-color: #E2BF00;
}


/*----------register-----------*/
.register .row{
	padding-left:15px;
	padding-right: 15px;
}
.register .text{
	padding-left: 35px;
}
.register .errorlist{
	font-size: 12px;
}
.register .errorlist>li{
	color:red;
	padding-left: 15px;
}
/*----------login-----------*/

.login a.new{
	color: #333;
	padding-left: 10px;
	font-size: 12px;
	vertical-align: bottom;
	height: 54px;
	line-height: 52px;
}
.login a.new:hover{
	color: #E2BF00

}
.login .panel{
	margin-top: 64px;
}
.login .error{
	font-size: 12px;
	color:red;
	padding-left: 10px;
}